{% extends 'blog\base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<script src="{% static 'js/calendar.js' %}" charset="utf-8"></script>

{% endblock %}


{% block content %}

<header>

    {% if user.is_authenticated %}
    <a class= "btn right" href="{% url 'post_new' %}">일기쓰기</a>
    <a class = "right" href="{% url 'logout' %}?next=/">로그아웃</a>
    {% else %}
    <a class= "right" href="{% url 'login' %}">로그인</a>
    {% endif %}

    <img src="{% static 'src/left.png' %}" alt="left" class="left">
    <h1></h1>
    <img src="{% static 'src/right.png' %}" alt="right" class="right">
    
    <h2></h2>
    <h3></h3>
</header>

<div class="wrap">
    <div class="calendar">
        <table>
            <thead>
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
            </thead>
        </table>
    </div>
    <br><br>
</div>

{% if user.is_authenticated %}
<div id="currentUser" style="display: none;">
    <p>{{ user }}</p>
</div>
<!-- 일기 쓴 유저 -->
<div id="user" style="display : none;" >
    {% for u in post %}
        <p>{{ u.author }}</p>
    {% endfor %}
</div>

<!-- 일기 쓴 날짜 -->
<div id="written" style="display: none;">
    {% for d in date %}
        <p>{{ d }}</p>
    {% endfor %}
</div>

<div id="pk" style="display: none;">
    {% for p in post %}
        <p>{{ p.pk }}</p>
    {% endfor %}
</div>

{% else %}
{% endif %}
    
<footer>
    Copyright &COPY; 2018 by hnewh & lettuce
</footer>
{% endblock %}

