body {
    background-image: url('../src/bg.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

section {
    width: 60%;
    margin: 10% auto;
}

section > * {
    display: inline-block;
    height: 50vh;
    min-height: 500px;
}

section .info {
    width: 40%;
    float: left;

    color: #fff;
    background-color: rgba(211, 155, 204, 0.9);
    text-align: center;
}

section .info .saying {
    margin: 45% auto;
}

section .info .saying i {
    font-size: 1.2em;
    line-height: 1.5em;
}

section .login {
    width: 60%;
    padding: 5%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #9d9d9d;
    background-color: rgba(255, 255, 255, 0.8)
}

section .login h1 {
    color: #d39bcc;
    margin-bottom: 4%;
}

section .login .btn-group {
    float: right;
}