<form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    
        {% if form.non_field_errors %}
            {% for error in login_form.non_field_errors %}
            <p class="text-danger"><b>{{ error }}</b></p>
            {% endfor %}
        {% endif %}
        <div class="btn-group">
            <button class="btn btn-info">{{ submit_title }}</button>
            <a href="{% url 'calender' %}"><button type="button" class="btn btn-light" >돌아가기</button></a>
        </div>
    </form>